@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|Rubik:400,700&subset=cyrillic,hebrew,latin-ext");
@font-face {
  font-family: "FiraCode";
  src: url("./FiraCode.otf");
}

$bodyBackground: #36393F;

body {
  background: $bodyBackground;
}