@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700|Rubik:400,700&subset=cyrillic,hebrew,latin-ext");

@font-face {
  font-family: "FiraCode";
  src        : url("./FiraCode.otf");
}

// This is a nice background color!
$bodyBackground: #36393F;

body {
  background : $bodyBackground;
  color      : white;
  font-family: FiraCode, monospace;
}

div#popup {
  z-index: 50000;
}

.main {
  color: yellow
}